<?php

$aliases['vm'] = array(
    'root' => '{{ project_dir }}/{{ webroot }}',
    'uri' => 'http://{{ project_name }}-nginx.{{ domain }}',
);

$aliases['{{ project_name }}'] = array(
    'root' => '{{ project_dir }}/{{ webroot }}',
    'uri' => 'http://{{ project_name }}-nginx.{{ domain }}',
);
