#!/bin/sh

if [ -z "$1" ] || [ "$1" = "--help" ] || [ "$1" = "-h" ]; then
 echo "drupal-coder <module_name> | <all> | <path>"
 echo ""
 echo "Runs CodeSniffer and Mess Detector against the given target. Argument is either:"
 echo "- the name of a Drupal module to scan"
 echo "- 'all' to scan all modules under modules/custom"
 echo "- the absolute path to a file or directory to scan"
 exit 0
fi

DRUPAL_ROOT="/vagrant/{{ webroot }}"

if [ "$1" = "all" ]; then
  SNIFF_PATH="$DRUPAL_ROOT/modules/custom"
fi
if [ -d "$1" ] || [ -f "$1" ]; then
  SNIFF_PATH="$1"
fi
if [ -z "$SNIFF_PATH" ]; then
  cd "$DRUPAL_ROOT"
  MODULE_PATH=$(drush pmi --fields=path "$1" | cut -d " " -f7)
  SNIFF_PATH="$DRUPAL_ROOT/$MODULE_PATH"
fi
# If we still have no valid path, exit.
if [ ! -d "$SNIFF_PATH" ] && [ ! -f "$SNIFF_PATH" ]; then
 echo "Could not find a path matching $1"
 exit 1
fi

# Run commands in order.
COMMAND="phpcs --standard=Drupal --extensions=php,module,inc,install,test,profile,theme,js,css,info,txt,md $SNIFF_PATH"
echo ">>> Running: $COMMAND"
$COMMAND
COMMAND="phpcs --standard=DrupalPractice --extensions=php,module,inc,install,test,profile,theme,js,css,info,txt,md $SNIFF_PATH"
echo ">>> Running: $COMMAND"
$COMMAND
COMMAND="phpmd $SNIFF_PATH text /home/vagrant/drupal-ruleset.xml --strict"
echo ">>> Running: $COMMAND"
$COMMAND

