<section>
  <h2>Elastic</h2>
  <h6>vagrant ssh elastic</h6>
  <div class="content">
    <p>Elastic Search is accessible from other containers at <b>{{ service_name }}:9200</b>.</p>
  </div>
</section>
