<section>
  <h2>MySQL</h2>
  <div class="content">
    <p>MySQL is accessible from other containers at <b>{{ project_name }}-mysql:3306</b>.</p>
    <p>To access it from your host use <b>{{ net_ip }}</b> (eg. using <a href="https://www.mysql.com/products/workbench/">MySQL Workbench</a>).</p>
    <p>Username/password: <code>dev/dev</code></p>
  </div>
</section>