#!/bin/sh

PID=$(pgrep --full "selenium-server-standalone.jar")
if [ ! -z "$PID" ]; then
  kill $PID
fi

PID=$(pgrep "Xtightvnc")
if [ ! -z "$PID" ]; then
  kill $PID
fi

PID=$(pgrep --full "Xvfb")
if [ ! -z "$PID" ]; then
  kill $PID
fi