[Unit]
Description=Selenium
After=syslog.target network.target

[Service]
User=vagrant
Group=vagrant
Type=forking
ExecStart=/bin/sh /opt/selenium-daemon-start
ExecStop=/bin/sh /opt/selenium-daemon-stop

[Install]
WantedBy=multi-user.target
