<h1>Patternlab Prototype</h1>
<h5><a href="http://{{ net_proto_ip }}">http://{{net_proto_ip}}</a></h5>
<h2>Json Populate</h2>
<h5><a href="http://{{ net_proto_ip }}:8000">http://{{net_proto_ip}}:8000</a></h5>