<h1>Prototype</h1>
<h5>PatternLab: <a href="http://{{ net_proto_ip }}">http://{{net_proto_ip}}</a></h5>
<h5>Json Populate: <a href="http://{{ net_proto_ip }}:8000">http://{{net_proto_ip}}:8000</a></h5>