{
    "src_folders" : [
        "./tests"
    ],
    "output_folder" : "./reports",
    "selenium_host": "localhost",
    "selenium_port": 4444,
    "test_settings" : {
        "default" : {
            "screenshots" : {
                "enabled" : true,
                "on_failure": true,
                "path" : "./reports/screenshots"
            },
            "desiredCapabilities": {
                "browserName": "chrome",
                "javascriptEnabled": true,
                "cssSelectorsEnabled": true
            }
        }
    }
}
