<section>
  <h2>SonarQube</h2>
  <h6>vagrant ssh sonar</h6>
  <div class="content">
    <p>Reports: <a href="http://{{ service_hostname }}:9000">http://{{ service_hostname }}:9000</a></p>
    <p>Username/password: <code>admin/admin</code></p>
  </div>
</section>