<section>
  <h2>MkDocs</h2>
  <h6>vagrant ssh mkdocs</h6>    
  <div class="content">
    <p>MkDocs is listening at <a href="http://{{ service_hostname }}:{{ mkdocs_listen_port }}">http://{{ service_hostname }}:{{ mkdocs_listen_port }}</a></p>
  </div>
</section>