<section>
  <h2>Memcached</h2>
  <h6>vagrant ssh memcached</h6>
  <div class="content">
    <p>Memcached is listening on <b>{{ service_name }}:{{ memcached_port }}</b>.</p>
    <p>Allocated memory: {{ memcached_memory }}.</p>
  </div>
</section>