<section>
  <h2>Memcached</h2>
  <div class="content">
    <p>Memcached is accessible from other containers at <b>{{ project_name }}-memcached:{{ce_memcached_port}}</b>.</p>
    <p>To access it from your host use <b>{{ net_ip }}</b>.</p>
  </div>
</section>