<?php

$aliases['vm'] = array(
    'root' => '{{ project_dir }}/{{ webroot }}',
    'uri' => 'http://{{ project_name }}.app-vm.codeenigma.com',
);

$aliases['{{ project_name }}'] = array(
    'root' => '{{ project_dir }}/{{ webroot }}',
    'uri' => 'http://{{ project_name }}.app-vm.codeenigma.com',
);
