<section>
  <h2>Apache Solr {{ solr_version }}</h2>
  <h6>vagrant ssh solr</h6>
  <div class="content">
    <p>Admin UI: <a href="http://{{ service_hostname }}:8080/solr">http://{{ service_hostname }}:8080/solr</a></p>
  </div>
</section>
