<h1>Project ({{ project_type|capitalize }})</h1>
<h5>HTTP: <a href="http://{{ project_name }}.app-vm.codeenigma.com">http://{{ project_name }}.app-vm.codeenigma.com</a></h5>
<h5>HTTPS: <a href="https://{{ project_name }}.app-vm.codeenigma.com">https://{{ project_name }}.app-vm.codeenigma.com</a></h5>
<em>HTTPS uses a self-signed certificate, you will need to add an exception.</em>
