server {
  listen 80 default_server;
  server_name _;
  root {{ ce_vm_webroot }};
  error_log /var/log/nginx/ce-vm.error.log info;
  access_log /var/log/nginx/ce-vm.access.log;
  location / {
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $realpath_root/index.php;
    fastcgi_param DOCUMENT_ROOT $realpath_root;
    fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
  }
}