server {
    listen 80 default_server;
    server_name "{{ project_name }}.dev.codeenigma.com";
    error_log /var/log/nginx/error.log info;
    root "{{ project_dir }}/{{ webroot }}";
    include "/etc/nginx/conf.d/{{ project_type }}";
}