[mysqld]
bind-address = 0.0.0.0
character_set_server = utf8 
collation_server = utf8_general_ci
log_syslog = 1
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
log_slow_admin_statements = 1
general_log = 1
log_queries_not_using_indexes = 1
long_query_time = {{ mysql_long_query_time }}
skip-host-cache
skip-name-resolve
key_buffer_size = 128M
concurrent_insert = 2
read_buffer_size = 8M
read_rnd_buffer_size= 4M
sort_buffer_size= 4M
bulk_insert_buffer_size = 16M
max_allowed_packet= 128M
thread_cache_size = 200
max_connections = 300
open_files_limit= 2000
tmp_table_size= 128M
max_heap_table_size = 128M
query_cache_size= 1G
query_cache_limit = 128M
query_cache_type= 1
join_buffer_size = 512M
sql_mode = NO_ENGINE_SUBSTITUTION
innodb_buffer_pool_size= 512M
innodb_read_io_threads = 8
innodb_write_io_threads= 8
innodb_flush_method= O_DIRECT
innodb_io_capacity = 400
innodb_file_per_table= 1
innodb_flush_log_at_trx_commit = 1
sync_binlog= 100
innodb_stats_on_metadata = 0