#!/bin/sh

/usr/sbin/service mysql stop
if [ -f /run/mysqld/mysqld.pid ]; then
  rm /run/mysqld/mysqld.pid
fi

touch /var/lib/mysql
find /var/lib/mysql/mysql -exec touch -c -a {} +
chown mysql:mysql /var/lib/mysql

/usr/sbin/service mysql start
