<?xml version="1.0" encoding="UTF-8" ?>
<solr persistent="false">
  <cores adminPath="/admin/cores" host="${host:}" hostPort="${jetty.port:8983}" hostContext="${hostContext:solr}">
    {% for core in solr_cores %}
    <core name="{{ core }}" instanceDir="{{ core }}" />
    {% endfor %}
  </cores>
</solr>
