<section>
  <h2>Prototype</h2>
  <div class="content">
    <p>PatternLab: <a href="http://{{ net_ip }}:8080">http://{{net_ip}}:8080</a>.</p>
    <p>Json Populate: <a href="http://{{ net_ip }}:8000">http://{{net_ip}}:8000</a>.</p>
  </div>
</section>