<section>
  <h2>PHP {{ php_version }}</h2>
  <div class="content">
    <p>PHP-FPM is listening on <b>{{ project_name }}-fpm:9000</b></p>
    <p>See phpinfo(): <a href="http://php.app-vm.codeenigma.com">http://php.app-vm.codeenigma.com</a></p>
  </div>
</section>
