<section>
  <h2>PHP {{ php_version }}</h2>
  <h6>vagrant ssh fpm</h6>
  <div class="content">
    <p>PHP-FPM is listening on <b>{{ service_name }}:9000</b></p>
    <p>See phpinfo(): <a href="http://php.{{ project_name }}-nginx.{{ domain }}">http://php.{{ project_name }}-nginx.{{ domain }}</a></p>
  </div>
</section>
