<section>
  <h2>Varnish: Project home page {{ project_name }} ({{ project_type|capitalize }})</h2>
  <h6>vagrant ssh varnish</h6>
  <div class="content">
    <p>HTTP: <a href="http://{{ service_hostname }}:6081">http://{{ service_hostname }}:6081</a></p>
  </div>
</section>
