<section>
  <h2>Logs</h2>
  <h6>vagrant ssh log</h6>
  <div class="content">
    <p>All logs are centralized and available at <a href="http://{{ service_hostname }}">http://{{ service_hostname }}</a></p>
  </div>
</section>