<?php

$aliases['vm'] = array(
  'root' => '{{ project_dir }}/{{ webroot }}',
  'uri' => 'http://{{ project_name }}.app-vm.codeenigma.com',
);

$aliases['{{ project_name }}'] = array(
  'root' => '{{ project_dir }}/{{ webroot }}',
  'uri' => 'http://{{ project_name }}.app-vm.codeenigma.com',
);

$aliases['dev'] = array(
  'remote-host' => 'example-dev1.codeenigma.net',
  'root' => '/var/www/live.example.master/www',
  'uri' => 'https://www-dev.example-dev1.codeenigma.net',
);

$aliases['stage'] = array(
  'remote-host' => 'example-stage1.codeenigma.net',
  'root' => '/var/www/live.example.stage/www',
  'uri' => 'https://www-stage.example-stage1.codeenigma.net',
);